<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="bg-success" class="col-sm-8">    
            <div class="jumbotron">
                <h1 class="text-info">French party and mini cupcades</h1>
                <h2>We have huge variety of party deserts</h2>
                <p>French style pastry, cup cake loafs, cookis<br> macaroon, and etc.</p>
            </div>
        </div>
    
        <div class="col-sm-4">        
            <div class="jumbotron">
                <h3 class="text-danger">Cupcake Decorating</h3>
                <img src="/images/cake_image4.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
        </div>
    
    </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>