
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">    
            <div class="jumbotron">
                <h2 class="bg-danger">Our family were developing the cakes formulas and testings in our home kitchen, then it was time to take things to the next level.  We began to explore hiring a contract baking company to produce our line of cakes, which had grown to five varieties. 
                    Every baking day we would arrive with all of the necessary ingredients, pans, and any packaging for the cakes that had to be baked that week.  This experience as a traveling baker afforded us a lot of experience in a short amount of time. Our family business utilized every kind of baking equipment under every kind of circumstance and continues to create superb desserts to this days.</h2>
               
            </div>
        </div>
    
           </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>



